@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&display=swap");
@import "tailwindcss";

@theme {
  --font-Inter: "Inter", sans-serif;
}
/* base */

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-950 text-purple-200 font-mono;
}


/* Component */
@layer components {

  /* NAVBAR */
  .menu-button {
    @apply w-10 h-10 grid place-items-center bg-zinc-50/10 rounded-xl ring-1 ring-zinc-50/[0.02]
          backdrop-blur-2xl hover:bg-zinc-50/15 hover:cursor-pointer
  }
  .navbar {
    @apply z-10 absolute top-full right-0 min-w-40 p-2 bg-zinc-50/10 rounded-2xl scale-90 isolate blur-sm opacity-0 invisible
          md:static md:flex md:items-center md:mt-0 md:visible md:blur-none md:opacity-100
  }

  .navbar.active {
    @apply opacity-100 scale-100 visible blur-none
  }

  .nav-link {
    @apply grid items-center h-9 px-4 text-sm font-medium tracking-wide text-zinc-50/50 hover:text-zinc-50
    transition-colors
  }

  .nav-link.active {
    @apply text-neutral-600 duration-500
  }

  .navbar>.active-box {
    @apply bg-zinc-50 rounded-lg absolute -z-10 transition-all duration-300 ease-in-out;
  }

  /* BUTTONS */
  .btn {
    @apply max-w-max h-9 flex items-center gap-2 px-4 rounded-xl font-medium text-sm ring-1 ring-zinc-50/5
          ring-inset;
  }

  .btn-secondary {
    @apply bg-zinc-50 text-zinc-900 active:bg-zinc-50/80;
  }


  /* max width 要設置 mx-auto 會擴張 */
  /* Utilities */
  .container-supplement {
    @apply px-4 mx-auto lg:px-8 lg:max-w-6xl;
  }

  .img-cover {
    @apply w-full h-full object-cover;
  }

  /* 字體大小等 */
  .headline-1 {
    @apply  text-2xl leading-tight font-semibold lg:text-3xl;
  }
}


